bin/
obj/
.vs/
.idea/
artifacts
docker/jellyfin/config/
docker/jellyfin/cache/
docker/jellyfin/media/
docker/jellyfin/plugins/
jellyfin-source/
.docker-client/
debug-*.log
*.mkv
test2.corr.json
website/
